@font-face {
    font-family: 'howlimit'; /* Choose a name for your font */
    src: url('fonts/howlimit/Howlimit.otf') format('otf'), /* Add different formats if available */
         url('fonts/howlimit/Howlimit.ttf') format('ttf');
    /* Add more formats if you have them */
  }

.main_div{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: auto 0;
    position: absolute;
  }
  .background{
    background-image: url('/procatstination/static/images/night_background.jpg');
    background-size: cover;
    padding: 0;
    height:100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
  }
.timer-div{
    
    position: fixed;
    right: 150px;
    bottom: 150px;
    height: 280px;
    width: 280px;
    background-color: rgb(223,235,235, 0.7);
    border-radius: 80px;
    
}

.status{
    text-align: center;
    margin-top: 10px;
    color: #898ccc;
    font-family: 'Gochi Hand', cursive;
    font-size: 28px;
}
.timer-div:hover{
    box-shadow: 5px 5px 5px rgb(223,235,235, 0.6);
    transform: scale(1.5);
    cursor: pointer;
    transition: opacity 0.8s, shadow 0.8s;
}

.timer{
    margin-top: 60px;
    font-size: 84px;
    font-family: 'Gochi Hand', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #c67b69;
    opacity: 1;
}

.points{
    font-family: 'Cute Font', cursive;
    font-size: 24px;
    position: fixed;
}
.chart-container{
    position: absolute;
    top: 15%;
    left: 15%;
    height: 300px;
    width: 300px;
}
#pointsChart .chartjs-legend ul li span {
    color: white;

  }
  
.points{
    opacity: 0;
}
  
  
.stat {
    background-color: #DFEBEB;
    border-radius: 40px;
    width: 25%;
    height: 68%;
    left: -30px;
    bottom: 150px;
    position: absolute;
    padding-left: 35px;
  }
  
.stat_small {
    width: 80%;
    height: 100%;
    
  }

.pet {
  top:20%;
  height: 80%;
  width: 60%;
  margin: auto;
  left: 20%;
  position: absolute;
  
    }

.pet img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    right: 100%;
    overflow: hidden;
    margin-left: -21px;
    display: flex;
      }

.pet img:hover{
  transform: scale(1.3);
  transition: transform 0.3s ease-out;
        }

.info{
  font-family: 'Gochi Hand';
  font-size: 28px;
  top:10%;
  margin-left: 3%;
  margin-top: 6%;
  text-align: center;
}
.exit_button {
  width: 60px;
  height: 60px;
  top: 3%;
  left: 2%;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.exit_button img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.example {
  background-color: red;
  width: 100px;
  height: 100px;
}

.example:active {
  background-color: black;
}

.pet_intelligence{
  top:40%;
  height: 80%;
  width: 50%;
  margin: auto;
  left: 45%;
  position: absolute;
    }

.pet_intelligence img {
    width: 45%;
    height: 45%;
    object-fit: contain;
    right: 100%;
    overflow: hidden;
    margin-left: -21px;
    display: flex;
      }

.pet_intelligence img:hover{
  transform: scale(1.3);
  transition: transform 0.3s ease-out;
        }

.info-bigbrain {
        font-family: 'Gochi Hand';
        font-size: 25px;
        top:10%;
        margin-left: 3%;
        margin-top: 6%;
        text-align: center;

} 
.pet-bigbrain{
    top:20%;
    height: 60%;
    width: 40%;
    margin: auto;
    left: 35%;
    position: absolute;

      }
  
.pet-bigbrain img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      right: 100%;
      overflow: hidden;
      margin-left: -21px;
      display: flex;
        }

.pet-bigbrain img:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-out;
          }

.info-wisdom {
    font-family: 'Gochi Hand';
    font-size: 27px;
    top:10%;
    margin-left: 3%;
    margin-top: 6%;
    text-align: center;

}

.pet-wisdom{
  top:20%;
  height: 70%;
  width: 50%;
  margin: auto;
  left: 27%;
  position: absolute;
    
      }
  
.pet-wisdom img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    right: 100%;
    overflow: hidden;
    margin-left: -21px;
    display: flex;
        }

.pet-wisdom img:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-out;
          }