<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cat</title>
    <link rel="stylesheet" href="/procatstination//static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gochi+Hand&family=Lunasima&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="background">
    <div class="main_div">
      <div class="big_buttom_div">
        <div class="small_buttom_div" style="left: 0%">
          <a href="strength.html">
            <img
              src="/procatstination/static/images/strength_icon.jpg"
              alt="dress_page"
              style="width: 100%; height: 100%; border-radius: 40px"
            />
          </a>
        </div>
        <div class="small_buttom_div" style="left: 40%">
          <a href="dress.html">
            <img
              src="/procatstination/static/images/intelligence_icon.jpg"
              alt="dress_page"
              style="width: 100%; height: 100%; border-radius: 40px"
            />
          </a>
        </div>
        <div class="small_buttom_div" style="right: 0%">
          <a href="dress.html">
            <img
              src="/procatstination/static/images/mindfulness_icon.jpg"
              alt="dress_page"
              style="width: 100%; height: 100%; border-radius: 40px"
            />
          </a>
        </div>
      </div>

      <div class="character">
        <img
          src="/procatstination/static/images/default_girl.png"
          alt="the character image"
        />
      </div>

      <div class="stat">
        <div class="stat_small">
          <div class="pie animate" style="--p: 90; --c: lightgreen">90%</div>
          <div class="pie animate" style="--p: 90; --c: lightgreen">80%</div>
          <div class="pie animate" style="--p: 90; --c: lightgreen">90%</div>
          <div class="first_text">STRENGTH</div>
          <div class="second_text">INTELLIGENCE</div>
          <div class="third_text">WISDOM</div>
        </div>
      </div>

      <div class="change_dress">
        <a href="dress.html">
          <img
            src="/procatstination/static/images/change_character.jpg"
            alt="dress_page"
            style="width: 100%; height: 100%; border-radius: 40px"
          />
        </a>
      </div>

      <div class="pet">
        <a href="pet.html">
          <img
            src="/procatstination/static/images/change_cat.jpg"
            alt="dress_page"
            style="width: 100%; height: 100%; border-radius: 40px"
          />
        </a>
      </div>
    </div>
  </body>
</html>
