<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gochi+Hand&family=Lunasima&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIgbrain Cat</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Lunasima&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/procatstination/static/css/buffcat.css" />
    <script src="/procatstination/static/javascript/strength.js"></script>
  </head>
  <body class="background">
    <div class="main_div">
      <div class="stat">
        <div class="stat_small">
          <div class="info-bigbrain">
            Big Brain Cat. Also know as Intelligence Cat, this feline is like
            the Einstein of the cat world. They've built elaborate contraptions
            to catch treats, designed complex escape routes from pesky dogs, and
            even hacked into the neighbor's Wi-Fi to stream endless hours of
            bird videos. Big Brain Cat's mind is a maze of brilliance, and
            they're not afraid to use it to outsmart any challenge that comes
            their way. So there you have it, my friend!
          </div>
        </div>
      </div>
      <div class="pet-bigbrain">
        <img
          src="/procatstination/static/images/cats/cat/cat3.png"
          alt="bigbrain cat"
        />
      </div>

      <a href="{{ url_for('intelligence') }}">
        <div class="exit_button">
          <img
            class="home-button"
            src="/procatstination/static/images/back-icon.png"
            alt="home screen"
          />
        </div>
      </a>

      <div class="points">Strength: <span id="points">0</span></div>
      <div class="points">Strength: <span id="points">0</span></div>
      <script src="/procatstination/static/javascript/script.js"></script>
    </div>
  </body>
</html>
