<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body class="background">
    <div class="main_div">
        <div class="login_board">
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                <div>
                    {{ form.username.label }}: {{ form.username() }}
                </div>
                <div>
                    {{ form.password.label }}: {{ form.password() }}
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>