<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body class="background">
    <div class="main_div">
        <div class="login_board">
            <div class="login_part1">
                <label for="uname" style="font-size: 20px;"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
            </div>
            <div class="login_part2">
                <label for="psw" style="font-size: 20px;"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div class="login_part3">
                <a href="index.html">
                    <button type="submit">Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>