<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/procatstination/static/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gochi+Hand&family=Lunasima&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="background">
    <div class="main_div">
      <div class="login_name">ProCATstination</div>
      <div class="login_board">
        <form action="{{ url_for('login') }}" method="POST">
          {{ form.csrf_token }}
          <div class="login_part1">
            <label for="uname" style="font-size: 20px"><b>Username</b></label>
            {{ form.username.label }}: {{ form.username() }}
          </div>
          <div class="login_part2">
            <label for="psw" style="font-size: 20px"><b>Password</b></label>
            {{ form.password.label }}: {{ form.password() }}
          </div>
          <div class="login_signin">
            <a href="{{ url_for('signup') }}" style="color: rgb(151, 65, 118)"
              >create a new account</a
            >
          </div>
          <div class="login_part3">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>